<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Employee manager</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn" (click)="onOpenModal(null, 'add')">Add Employee <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search employees..." aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="jumbotron text-center">
        <h1>List of Employees</h1>
        <p class="lead text-info">Employees with too many childs.</p>
    </div>
</main>

<!-- End Navigation -->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-4 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{ employee?.imageUrl }}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{ employee?.name }}</h5>
                        <p class="m-0">{{ employee?.jobTitle }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i> : <a href="#">{{ employee?.email }}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i> : {{ employee?.phone }}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <!-- <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" ngModel name="name" id="name" class="form-control" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label for="email" class="form-label">E-mail Address</label>
            <input type="email" ngModel name="email" id="email" class="form-control" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" ngModel name="jobTitle" id="jobTitle" class="form-control" placeholder="Enter your jobTitle">
          </div>

          <div class="form-group-sm">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" ngModel name="phone" id="phone" class="form-control" placeholder="Enter your phone">
          </div>

          <div class="form-group">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input type="text" ngModel name="imageUrl" id="imageUrl" class="form-control" placeholder="Enter your imageUrl">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Employee Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" ngModel="{{ editEmployee?.name }}" name="name" id="name" class="form-control" placeholder="Enter your name">
          </div>
          <input type="hidden" ngModel="{{ editEmployee?.id }}" name="id" id="id" class="form-control" placeholder="id" />
          <input type="hidden" ngModel="{{ editEmployee?.employeeCode}}" name="employeeCode" id="employeeCode" class="form-control" placeholder="employeeCode" />
          <div class="form-group">
            <label for="email" class="form-label">E-mail Address</label>
            <input type="email" ngModel="{{ editEmployee?.email }}" name="email" id="email" class="form-control" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" ngModel="{{ editEmployee?.jobTitle}}" name="jobTitle" id="jobTitle" class="form-control" placeholder="Enter your jobTitle">
          </div>

          <div class="form-group-sm">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" ngModel="{{ editEmployee?.phone }}" name="phone" id="phone" class="form-control" placeholder="Enter your phone">
          </div>

          <div class="form-group">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input type="text" ngModel="{{ editEmployee?.imageUrl }}" name="imageUrl" id="imageUrl" class="form-control" placeholder="Enter your imageUrl">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="onUpdateEmployee(editForm.value)" data-bs-dismiss="modal" class="btn btn-info">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #deleteForm="ngForm">
          <label class="form-label">Are you sure you want to delete employee {{deleteEmployee?.name}} ?</label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button (click)="onDeleteEmployee(deleteEmployee?.id)" type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Notifications for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES !</h4>
    <p>No employees were found.</p>
  </div>
</div>